<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="zod.generator" value="/home/kennethhoff/Documents/Development/Personal/Misc-Testing/Misc-Testing/Backend/SourceGenerators/src/Generators/PocoSchemaGenerator/Oxx.Backend.Generators.PocoSchema.Zod.Generator/bin/Debug/" />
    <add key="zod" value="/home/kennethhoff/Documents/Development/Personal/Misc-Testing/Misc-Testing/Backend/SourceGenerators/src/Generators/PocoSchemaGenerator/Oxx.Backend.Generators.PocoSchema.Zod/bin/Debug/" />
  </packageSources>
  
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="zod.generator">
      <package pattern="Oxx.Backend.Generators.PocoSchema.Zod.Generator" />
    </packageSource>
    <packageSource key="zod">
      <package pattern="Oxx.Backend.Generators.PocoSchema.Zod" />
    </packageSource>
  </packageSourceMapping>
</configuration>
